@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap");

* {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}
.navbar-brand img {
    width: 50px;
}
.personajesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 30px;
}
.luffy,
.zoro,
.sanji,
.usopp,
.chopper,
.robin,
.nami,
.brook,
.franky,
.jinbe,
.vivi,
.yamato {
    width: 250px;
    height: 350px;
    overflow: hidden;
}
.luffy img,
.zoro img,
.sanji img,
.usopp img,
.chopper img,
.robin img,
.nami img,
.brook img,
.franky img,
.jinbe img,
.vivi img,
.yamato img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.luffy .person_content,
.zoro .person_content,
.sanji .person_content,
.usopp .person_content,
.chopper .person_content,
.robin .person_content,
.nami .person_content,
.brook .person_content,
.franky .person_content,
.jinbe .person_content,
.vivi .person_content,
.yamato .person_content {
    transition: 0.5s ease-in-out all;
    position: relative;
    bottom: 0;
    height: 350px;
    padding: 10px;
}
.luffy:hover .person_content,
.zoro:hover .person_content,
.sanji:hover .person_content,
.usopp:hover .person_content,
.chopper:hover .person_content,
.robin:hover .person_content,
.nami:hover .person_content,
.brook:hover .person_content,
.franky:hover .person_content,
.jinbe:hover .person_content,
.vivi:hover .person_content,
.yamato:hover .person_content {
    background-color: rgba(0, 0, 0, 0.644);
    bottom: 350px;
    z-index: 2;
}
.escenas-gif {
    max-width: 300px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.aboutOnePiece,
#sobreMi,
#onepiece,
#carouselExampleControls {
    margin-bottom: 150px;
}
.pelisStyle {
    width: 260px;
    height: 370px;
    object-fit: cover;
}
.carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: top;
}
.carousel-item:nth-child(2) img {
    object-position: center;
}
.carousel-item:nth-child(3) img {
    object-position: center;
}
.goTop {
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goTop img {
    width: 20px;
    height: 20px;
}
